@import "tailwindcss";

:root {
  --background: var(--color-zinc-50);
  --foreground: var(--color-zinc-900);
  --secondary: #54B435;
  --primary: #379237;
  --subtle: var(--color-zinc-200);
}

@theme inline {
  --font-body: var(--font-poppins);
  --font-small-headers: var(--font-barlow);
  --font-big-headers: var(--font-playfair);
  --h1: 800 5rem/1.4em var(--font-big-headers);
  --h2: 800 3rem/1.3em var(--font-big-headers);
  --h3: 800 2rem/1.3em var(--font-big-headers);
  --h4: 1.5rem/1.2em var(--font-small-headers);
  --p: 1rem/1.65em var(--font-body);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-primary: var(--primary);
  --color-subtle: var(--subtle);
  --color-transparent: transparent;
}

@layer utilities {
  .font-h1 {
    font: var(--h1);
  }
  .font-h2 {
    font: var(--h2);
  }
  .font-h3 {
    font: var(--h3);
  }
  .font-h4 {
    font: var(--h4);
  }
  .font-p {
    font: var(--p);
  }
}

@layer base {
  :root {
    box-sizing: border-box;
  }
  * {
    box-sizing: inherit;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    text-wrap: balance;
    font-family: var(--font-body);
  }
  h1 {
    font: var(--h1);
  }
  h2 {
    font: var(--h2);
  }
  h3 {
    font: var(--h3);
  }
  h4 {
    font: var(--h4);
  }
  p {
    font: var(--p);
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-zinc-900);
    --foreground: var(--color-zinc-50);
    --secondary: #379237;
    --primary: #54B435;
    --subtle: var(--color-zinc-800);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
